* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.FormLoginPage {
  background: url('https://gitlab.com/BDAg/gerenciador-de-projetos/raw/master/Easier.png'); 
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center 5px;
  margin: auto;
  padding: 150px 5px 0px 5px;
  width: fit-content; /* Valor da Largura*/ 
  height: 70%;
  border:1px solid #001219;
  background-color: #f9f9f2;
  text-align: center;
  border-radius: 10px;

}
.teste {
  background: url('https://cdn.pixabay.com/photo/2017/06/11/02/05/summer-2391348_960_720.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;    
  height: 650px;
}

input {
  
  margin: 15px auto ;
  font-size: 1.2;
  line-height: 150;
  display: block;
  width: 100%;
  height: 45px;
  padding: auto 0;
 
}
