nav {
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 10px 20px rgba(32, 32, 32, 0.77);
    font-family: Raleway, Arial, sans-serif;
}

  nav a {
    display: block;
    padding: 0.7em 2em;
  }

  a {
    text-decoration: none;
    color: #fff;
}
ul {
    display: flex;
    align-items: center;
}
li {
    list-style-type: none;
    font-size: 1.2em;
}

nav a:hover {
    background-color: rgb(43, 78, 133);
}




  /* //PRECISO AJUSTAR ISSO DEPOIS */
  @media (max-width: 600px) {
    ul {
      display: block;
    }
     a {
        text-align: center;
    }
  }