.container {
    width: 50%;
    margin: auto;
    padding: 0px 10px;
    background-color: #F9F9F2;
}
  
.form-contact {
    width: 100%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #41DB8E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #41DB8E;
    border-left: 1px solid #41DB8E;
    text-indent: 20px;
}
.form-contact-input-telephone {
    width: 100%;
    margin-right: 3%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #41DB8E;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 0px;
    border-bottom: 1px solid #41DB8E;
    border-left: 1px solid #41DB8E;
    text-indent: 20px;
}
.form-contact-box {
    display: flex;
    justify-content: center;
    align-items:stretch;
}
.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #41DB8E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #41DB8E;
    border-left: 1px solid #41DB8E;
    text-indent: 0px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #41DB8E;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(16, 146, 16);
    border-right: 1px solid	rgb(16, 146, 16);
    transition: 1s;
}
  
.form-contact-button:hover {
    background: rgb(10, 145, 77);
}

select {
    margin: 15px auto ;
    line-height: 150;
    display: block;
    border: 1px solid #41DB8E;
    border-radius: 5px;
    height: 40px;
    width:40%;
    background-color: #E9E9E9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-indent: 18px;
    border-bottom: 1px solid #41DB8E;
    border-left: 1px solid #41DB8E;
}

h4 {
    color:  #001219;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
}

label {
    color:  #001219;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

.form-cancel-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: rgb(194, 42, 31);
    display: block;
    border: none;
    border-bottom: 1px solid rgb(194, 42, 31);
    border-right: 1px solid	rgb(194, 42, 31);
    transition: 1s;
}
  
.form-cancel-button:hover {
    background: rgb(138, 9, 2);
}

.member-form {
    margin-bottom: 40px;
}

.form-comeback-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: rgb(61, 90, 145);
    display: block;
    border: none;
    border-bottom: 1px solid rgb(61, 90, 145);
    border-right: 1px solid	rgb(61, 90, 145);
    transition: 1s;
}
  
.form-comeback-button:hover {
    background: rgb(12, 33, 73);
}