.btn {
    margin-right: 1em; 
    margin-bottom: 1em; 
      display: inline-block;
      outline: none;
      *zoom: 1;
      text-align: center;
      text-decoration: none;
      font-family: inherit;
      font-weight: 300;
      letter-spacing: 1px;
      vertical-align: middle;
      border: 1px solid;
      transition: all 0.2s ease;
      box-sizing: border-box;
      text-shadow: 0 1px 0 rgba(0,0,0,0.01);
      font-family: Raleway, Arial, sans-serif;
      cursor: pointer;
  }
.btn-medium {
	font-size: 0.9375em;
	padding: 0.5375em 1.375em;
}  

.btn-green {
	color: #3CB371;
	border-color: #3CB371;
}

.btn-green:hover {
    background: #3CB371;
    color: #fff;
    border-color: #3CB371;		
  }

.btn-radius {
    border-radius: 3px;
}

.btn-red {
	color: #B22222;
	border-color: #B22222;
}
.btn-red:hover {
  background: #B22222;
  color: #fff;
  border-color: #B22222;	
}
.btn-blue {
	color: #4682B4;
	border-color: #4682B4;
}
.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;		
}
.btn-black {
  color: #001219;
  border-color: #001219;
}
.btn-black:hover {
  background: #001219;
  color: #fff;
  border-color: #001219;		
}