.container-table {
  width: 100%;
  margin: 0 auto;
  background-color: #F9F9F2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table {
  border-radius: 5px;
  box-shadow: 2.5px 5px 9px #b9b9b9;
  position: relative;
  left: 10%;
  width: 80%; 
  padding: 0.75rem;
  border-collapse: collapse;
  height: auto;
    text-align: center;
    overflow:hidden;
    -webkit-border-radius: 10px;
}

.index {
  width: 7%;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px; 
  border: 1px solid black;
    border-top-color: #dee2e6;
    border-top-style: solid;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
  color: #E9E9E9;
 }

.name {
  width: 10%;
  height: auto;
  border: 1px solid black;
    border-top-color: #dee2e6;
    border-top-style: solid;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
  color: #E9E9E9;

}

.desc {
  width: 55%;
  height: auto;
  border: 1px solid black;
    border-top-color: #dee2e6;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
  color: #E9E9E9;

}

.membros {
  width:15%;
  padding-left: 5px;
  height: auto;
  border: 1px solid black;
    border-top-color: #dee2e6;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
  color: #E9E9E9;

}

.editar {
  width: 7%;
  height: auto;
  border: 1px solid black;
    border-top-color: #dee2e6;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
  color: #E9E9E9;

}

.excluir {
  width: 7%;
  padding-right: 4px;
  padding-left: 4px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid black;
    border-top-color: #dee2e6;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
  color: #E9E9E9;

}

tr:nth-child(even) {
  background-color: #cff5e270; /* cor das linhas da tabela */ 
}

td {
  border: 1px solid black;
    border-top-left-radius: 0.3rem;
    border-top-color: #dee2e6;
    border-top-style: solid;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
}

.linhas {
  border: 1px solid black;
    border-top-left-radius: 0.3rem;
    border-top-color: #dee2e6;
    border-top-style: solid;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
}

.id {
  text-align: center;
}

.nome {
  text-align: center;
}

.editMember {
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30%;
  border: 2px #E9E9E9;
  position: relative;
  height: 30px;
  background-color: white;
  color: green;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  display: inline-flex;
  cursor: pointer;
 }

 .editMember:hover {
  color: black;
  background-color: rgba(130, 219, 175, 0.671);
}

.git {
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30%;
  border: 2px #E9E9E9;
  position: relative;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  display: inline-flex;
  cursor: pointer;
 }

 .git:hover {
  color: black;
  background-color: rgba(130, 219, 175, 0.671);
}
.edit {
 padding: 7px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 30%;
 border: 2px #E9E9E9;
 position: relative;
 height: 30px;
 background-color: white;
 color: green;
 text-align: center;
 text-decoration: none;
 font-size: 12px;
 cursor: pointer;
 display: block;
 cursor: pointer;
}

.edit:hover {
  text-align: center;
  color: black;
  background-color: rgba(130, 219, 175, 0.671);
}

.edit2 {
  font-size: 140%;
  color: black;
  size: 90%;
  text-align: center;

}

.delete {
  padding: 5px;
  border-radius: 30%;
  border: 2px #E9E9E9;
  position: relative;
  height: 30px;
  background-color: initial;
  color: rgb(182, 6, 6);
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  display: block;
  cursor: pointer;
 }

.delete:hover {
  color: red;  
}

.linha1 {
  background-color: rgba(48, 48, 48, 0.932);
}

.loading {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: green;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
  font-size: 50px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-box {
  margin-top: 10%;
  margin-left: 44%;
}