.form-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #41DB8E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #41DB8E;
    border-left: 1px solid #41DB8E;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.id-project {
    color: #41DB8E;
    font-size: 30px;
    margin-bottom: 100px;
    font-weight: 600;
}