.modal-button {
    background-color: rgb(71, 160, 115);
    width: 100%;
    padding: 2px 2px 2px 2px;
    color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 3px;
    font-weight: 620;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: top;
    cursor: pointer;
}

.modal-button:hover {
    background-color: rgb(0, 117, 59);

}