input {
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: justify;
  }
  
  input:focus {
    border-color: #001219;
    box-shadow: 0 0 8px 0 #001219;
  }
  
